.carousal {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    filter: drop-shadow(0px 0px 10px black);
}
.slide {
    height: 100%;
    width: 100%;
}
.slide-hidden {
    display: none;
}
.arrow {
    position: absolute;
    width: 2rem;
    height: 2rem;
    color: white;
    filter: drop-shadow(0px 0px 10px black);
}
.arrow:hover {
    cursor: pointer;
}
.arrow-left{
    left: 1rem;
}
.arrow-right {
    right: 1rem;
}
.indicaters {
    display: flex;
    position: absolute;
    bottom: 2rem;
}
.indicater {
    background-color: white;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 180%;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px black;
    margin: 0 0.2rem;
    cursor: pointer;
}
.indicater-inactive {
    background-color: gray;
}


@media screen and (max-width: 768px) {
    .carousal {
        border: 2px solid black;
        height: 100vh;
        width: 100vw;
        margin-top: -2rem;
    }
}
@media screen and (max-width: 600px) {
    .carousal {
        border: 2px solid black;
        height: 90vh;
        width: 100vw;
        margin-top: -2rem;
    }
}
@media screen and (max-width: 429px) {
    .carousal {
        border: 2px solid black;
        height: 80vh;
        width: 100vw;
        margin-top: -2rem;
    }
}
@media screen and (max-width: 300px) {
    .carousal {
        border: 2px solid black;
        height: 60vh;
        width: 100vw;
        margin-top: -2rem;
    }
}
@media screen and (max-width: 992px) and (min-width: 769px) {
    body {
        overflow-x: hidden;
    }
    .carousal {
        border: 2px solid black;
        height: 90vh;
        width: 100vw;
        margin-top: -2rem;
    }
}
@media screen and (max-width: 1200px) and (min-width: 993px) {
    body {
        overflow-x: hidden;
    }
    .carousal {
        height: 90vh;
        width: 100vw;
        margin-top: -2rem;
    }
}
