* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vw);
    --text: #e7e7e0;
    --transition: transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
}

@font-face {
    font-family: 'Poppins', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
    font-weight: 900;
}

.intro__header {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-top: 2.5rem;
}

.cantainer {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 2rem;
}
.cantainer h1 {
    font-size: 2.5em;
    font-family: monospace;
    font-style: italic;
    margin-top: -10rem;
}
.cantainer h1 span {
    font-size: 1.3em;
    font-family: cursive;
    font-weight: 900;
    color: #7054B5;
}
.cantainer p {
    font-family: cursive;
    font-style: italic;
    font-weight: 600;
    margin-top: 2rem;
    color: #fff;
    background-color: #7054B5;
    filter: drop-shadow(3px 5px 30px black);
    padding: 1rem;
}
.cantainer button {
    height: 9vh;
    width: 16vw;
    font-size: 1.6em;
    font-family: cursive;
    font-style: italic;
    font-weight: 800;
    color: #7054B5;
    background: none;
    border: 4px solid #7054B5;
    border-radius: 20px;
    transition: all .6s ease-in;
}
.cantainer button:hover {
    border: none;
    background: #7054B5;
    color: #fff;
    letter-spacing: 0.2em;
    transition: all .6s ease-out;
}
.cantainer button:active {
    transform: scale(0.5);
}
.intro__img {
    height: 100vh;
    width: 50%;
    background-position: center;
    background-size: cover;
}
.intro__img img {
    height: 100vh;
    width: 50%;
    object-fit: cover;
}

.intro__header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    margin-top: -5rem;
}

.zoom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    color: #fff;
    font-size: 1.7rem;
    text-shadow: 0 0 1rem rgba(0, 0, 0, .5);
}

.zoom::before {
    content: '';
    position: absolute;
    z-index: 1;
    width: 463%;
    height: 1100%;
    bottom: -18.5rem;
    left: -33.2rem;
    background-image: linear-gradient(to top, #151515, transparent);
    pointer-events: none;
}

@media screen and (max-width: 600px) {
    .intro__header {
        position: relative;
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem;
        margin-top: 12rem;
    }
    .cantainer {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        padding: 2rem;
    }
    .cantainer h1 {
        font-size: 2.2em;
    }
    .cantainer p {
        font-size: 1em;
    }
    .cantainer button {
        height: 9vh;
        width: 23vw;
        font-size: 1.2em;
        font-family: cursive;
        font-style: italic;
        font-weight: 800;
        color: #7054B5;
        background: none;
        border: 4px solid #7054B5;
        border-radius: 20px;
        transition: all .6s ease-in;
    }
    .intro__img {
        height: 45vh;
        width: 110%;
        background-position: center;
        background-size: cover;
        border: 2px solid red;
        margin-top: -1rem;
    }
    .intro__img img {
        height: 45vh;
        width: 100%;
        object-fit: cover;
        margin-top: 0.3rem;
    }
}

@media screen and (max-width: 768px) and (min-width: 600px) {
    .intro__header {
        position: relative;
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem;
        margin-top: 12rem;
    }
    .cantainer {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        padding: 2rem;
    }
    .cantainer h1 {
        font-size: 2.2em;
    }
    .cantainer p {
        font-size: 1em;
    }
    .cantainer button {
        height: 9vh;
        width: 23vw;
        font-size: 1.2em;
        font-family: cursive;
        font-style: italic;
        font-weight: 800;
        color: #7054B5;
        background: none;
        border: 4px solid #7054B5;
        border-radius: 20px;
        transition: all .6s ease-in;
    }
    .intro__img {
        height: 45vh;
        width: 110%;
        background-position: center;
        background-size: cover;
        border: 2px solid red;
        margin-top: -1rem;
    }
    .intro__img img {
        height: 45vh;
        width: 100%;
        object-fit: cover;
        margin-top: 0.3rem;
    }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    .intro__header {
        position: relative;
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem;
        margin-top: 12rem;
    }
    .cantainer {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        padding: 2rem;
    }
    .cantainer h1 {
        font-size: 2.2em;
    }
    .cantainer p {
        font-size: 1em;
    }
    .cantainer button {
        height: 9vh;
        width: 23vw;
        font-size: 1.2em;
        font-family: cursive;
        font-style: italic;
        font-weight: 800;
        color: #7054B5;
        background: none;
        border: 4px solid #7054B5;
        border-radius: 20px;
        transition: all .6s ease-in;
    }
    .intro__img {
        height: 45vh;
        width: 110%;
        background-position: center;
        background-size: cover;
        border: 2px solid red;
        margin-top: -1rem;
    }
    .intro__img img {
        height: 45vh;
        width: 100%;
        object-fit: cover;
        margin-top: 0.3rem;
    }
}