* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact {
    height: 150vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F4F9;
    margin-top: -16rem;
}

.contact__cantainer {
    height: 130vh;
    width: 95vw;
    display: flex;
    justify-content: center;
    padding: 2.9rem;
}

.contact__content {
    height: 110vh;
    width: 50vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 70px 0px 0px 70px;
    /* margin-top: 4rem; */
}

.contact__content h4 {
    font-size: 1.2em;
    color: #4722E3;
}

.contact__content h1 {
    font-size: 3em;
    font-weight: 900;
    margin-left: 3.5rem;
}

.inputs {
    height: 70vh;
    width: 35vw;
    display: flex;
    gap: 1.5em;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2.3rem;
}

.item1 {
    display: flex;
    margin-left: -1.5rem;
}

.inputs input {
    height: 10vh;
    width: 15vw;
    background-color: #F1F3F8;
    border: none;
    outline: none;
    padding: 1.3rem;
}

.inputs input:focus {
    border: 2px solid #4722E3;
}

.inputs .checkbox {
    height: 15px;
    margin-top: -1.5rem;
    margin-left: 1rem;
}

.inputs textarea {
    height: 20vh;
    width: 32vw;
    background-color: #F1F3F8;
    border: none;
    outline: none;
    resize: none;
    padding: 1.3rem;

}

.inputs textarea:focus {
    border: 2px solid #4722E3;
}

#contactThirdInp {
    width: 31.7vw;
    margin-left: 1.4rem;
}

.checkbox__item {
    height: 10vh;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.interested {
    height: 3vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
}

.contacts {
    height: 9.4vh;
    width: 30vw;
    margin-top: -2em;
}

.contact__btn {
    height: 9.4vh;
    width: 13vw;
    background: none;
    font-weight: 700;
    color: #A58EF0;
    border: 2px solid #A58EF0;
    transition: all ease-in .7s;
}

.contact__btn:hover {
    background-color: #4722E3;
    color: #fff;
    transition: all ease-in-out .7s;
}

.contact__content2 {
    height: 80vh;
    width: 75vw;
    display: flex;
    justify-content: center;
    /* background-position: center;
    background-size: cover; */
    margin-top: 0.4rem;
}

.contact__content2 video {
    height: 110vh;
    width: 53vw;
    object-fit: cover;
    border-radius: 0px 70px 70px 0px;
}

@media screen and (max-width: 768px) and (min-width: 600px) {
    .contact {
        height: 190vh;
        margin-top: 6rem;
    }

    .contact__cantainer {
        height: 170vh;
        margin-top: 6rem;
    }

    .contact__content2 {
        display: none;
    }

    .contact__content {
        height: 150vh;
        width: 80vw;
        margin-left: -8rem;
        margin-top: -2rem;
    }

    .inputs {
        width: 70vw;
        height: 130vh;
        display: flex;
        flex-direction: column;
    }

    .inputs input {
        width: 69.5vw;
    }

    .inputs textarea {
        width: 69.5vw;
    }

    .item1 {
        width: 69.5vw;
        display: flex;
        flex-direction: column;
        margin-left: 0rem;
    }

    .checkbox__item {
        width: 69.4vw;
        display: flex;
        justify-content: start;
        flex-direction: row;
    }

    .interested {
        width: 30vw;
        margin-left: 1rem;
    }

    .interested span {
        margin-top: -0.2rem;
    }

    .interested .checkbox {
        margin-left: -6rem;
        margin-top: -1.2rem;
    }

    .contacts {
        height: 9.4vh;
        width: 30vw;
        margin-top: 1em;
    }

    .contact__btn {
        height: 9.4vh;
        width: 13vw;
        background: none;
        font-weight: 700;
        color: #A58EF0;
        border: 2px solid #A58EF0;
        transition: all ease-in .7s;
    }

    .contact__btn:hover {
        background-color: #4722E3;
        color: #000;
        transition: all ease-in-out .7s;
    }

}

@media screen and (max-width: 600px) {
    .contact {
        height: 120vh;
        margin-top: -35rem;
    }

    .contact__cantainer {
        height: 190vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -1rem;
    }

    .contact__content2 {
        display: none;
    }

    .contact__content {
        height: 160vh;
        width: 80vw;
        margin-left: 2rem;
    }

    .contact__content h1 {
        font-size: 2.2em;
    }

    .inputs {
        width: 70vw;
        height: 105vh;
        display: flex;
        flex-direction: column;
        margin-top: -1rem;
        border: 2px solid red;
    }

    .inputs input {
        width: 69.5vw;
    }

    .inputs textarea {
        width: 69.5vw;
    }

    .item1 {
        width: 69.5vw;
        display: flex;
        flex-direction: column;
        margin-left: 0rem;
    }

    .item1 #contactThirdInp {
        width: 62vw;
    }

    .checkbox__item {
        width: 70vw;
        display: flex;
        justify-content: start;
        flex-direction: row;
    }

    .interested {
        width: 30vw;
        margin-left: 1.3rem;
    }

    .interested span {
        margin-top: -0.2rem;
    }

    .interested .checkbox {
        margin-left: -2.4rem;
        margin-top: -1.3rem;
    }

    .contacts {
        height: 9.4vh;
        width: 30vw;
        /* margin-top: -10em; */
    }

    .contact__btn {
        height: 9.4vh;
        width: 13vw;
        background: none;
        font-weight: 700;
        color: #A58EF0;
        border: 2px solid #A58EF0;
        transition: all ease-in .7s;
    }

    .contact__btn:hover {
        background-color: #4722E3;
        color: #000;
        transition: all ease-in-out .7s;
    }
}

@media screen and (max-width: 429px) {
    .contact {
        height: 160vh;
    }

    .contact__cantainer {
        height: 170vh;
        margin-top: 13rem;
    }

    .contact__content2 {
        display: none;
    }

    .contact__content {
        height: 130vh;
        width: 80vw;
        margin-left: -8rem;
    }

    .inputs {
        width: 70vw;
        height: 130vh;
        display: flex;
        flex-direction: column;
    }

    .inputs input {
        width: 69.5vw;
    }

    .inputs textarea {
        width: 69.5vw;
    }

    .item1 {
        width: 69.5vw;
        display: flex;
        flex-direction: column;
        margin-left: 0rem;
    }

    .checkbox__item {
        width: 69.4vw;
        display: flex;
        justify-content: start;
        flex-direction: row;
    }

    .interested {
        width: 27vw;
        margin-left: 1.3rem;
    }

    .interested span {
        margin-top: -0.2rem;
    }

    .interested .checkbox {
        margin-left: -2.3rem;
    }

    .contacts {
        height: 9.4vh;
        width: 30vw;
        margin-top: 1em;
    }

    .contact__btn {
        height: 9.4vh;
        width: 13vw;
        background: none;
        font-weight: 700;
        color: #A58EF0;
        border: 2px solid #A58EF0;
        transition: all ease-in .7s;
    }

    .contact__btn:hover {
        background-color: #4722E3;
        color: #000;
        transition: all ease-in-out .7s;
    }
}

@media screen and (max-width: 300px) {
    .contact {
        height: 165vh;
    }

    .contact__cantainer {
        height: 170vh;
        margin-top: 13rem;
    }

    .contact__content2 {
        display: none;
    }

    .contact__content {
        height: 150vh;
        width: 80vw;
        margin-left: -8rem;
    }

    .contact__content h1 {
        font-size: 2.2em;
    }

    .inputs {
        width: 70vw;
        height: 130vh;
        display: flex;
        flex-direction: column;
    }

    .inputs input {
        width: 69.5vw;
    }

    .inputs textarea {
        width: 69.5vw;
    }

    .item1 {
        width: 69.5vw;
        display: flex;
        flex-direction: column;
        margin-left: 0rem;
    }

    .checkbox__item {
        width: 69.4vw;
        display: flex;
        justify-content: start;
        flex-direction: column;
        margin-top: 1em;
    }

    .interested {
        width: 54vw;
        height: 6vh;
        margin-left: -2rem;
    }

    .interested span {
        margin-top: -0.2rem;
    }

    .interested .checkbox {
        margin-left: 2.3rem;
        margin-top: -1.1rem;
    }

    .contacts {
        height: 9.4vh;
        width: 30vw;
        margin-top: 1em;
    }

    .contact__btn {
        height: 9.4vh;
        width: 13vw;
        background: none;
        font-weight: 700;
        color: #A58EF0;
        border: 2px solid #A58EF0;
        transition: all ease-in .7s;
    }

    .contact__btn:hover {
        background-color: #4722E3;
        color: #000;
        transition: all ease-in-out .7s;
    }
}

@media screen and (max-width: 992px) and (min-width: 769px) {
    body {
        overflow-x: hidden;
    }

    .contact {
        height: 190vh;
        margin-top: 15rem;
    }

    .contact__cantainer {
        height: 170vh;
        margin-top: 6rem;
    }

    .contact__content2 {
        display: none;
    }

    .contact__content {
        height: 150vh;
        width: 80vw;
        margin-left: -8rem;
        margin-top: -2rem;
    }

    .inputs {
        width: 70vw;
        height: 130vh;
        display: flex;
        flex-direction: column;
    }

    .inputs input {
        width: 69.5vw;
    }

    .inputs textarea {
        width: 69.5vw;
    }

    .item1 {
        width: 69.5vw;
        display: flex;
        flex-direction: column;
        margin-left: 0rem;
    }

    .checkbox__item {
        width: 69.4vw;
        display: flex;
        justify-content: start;
        flex-direction: row;
    }

    .interested {
        width: 30vw;
        margin-left: 1rem;
    }

    .interested span {
        margin-top: -0.2rem;
    }

    .interested .checkbox {
        margin-left: -14rem;
        margin-top: -1.2rem;
    }

    .contacts {
        height: 9.4vh;
        width: 30vw;
        margin-top: 1em;
    }

    .contact__btn {
        height: 9.4vh;
        width: 13vw;
        background: none;
        font-weight: 700;
        color: #A58EF0;
        border: 2px solid #A58EF0;
        transition: all ease-in .7s;
    }

    .contact__btn:hover {
        background-color: #4722E3;
        color: #000;
        transition: all ease-in-out .7s;
    }

}

@media screen and (max-width: 1200px) and (min-width: 993px) {
    body {
        overflow-x: hidden;
    }

    .contact {
        height: 190vh;
        margin-top: 15rem;
    }

    .contact__cantainer {
        height: 170vh;
        margin-top: 6rem;
    }

    .contact__content2 {
        display: none;
    }

    .contact__content {
        height: 150vh;
        width: 80vw;
        margin-left: -8rem;
        margin-top: -2rem;
    }

    .inputs {
        width: 70vw;
        height: 130vh;
        display: flex;
        flex-direction: column;
    }

    .inputs input {
        width: 69.5vw;
    }

    .inputs textarea {
        width: 69.5vw;
    }

    .item1 {
        width: 69.5vw;
        display: flex;
        flex-direction: column;
        margin-left: 0rem;
    }

    .checkbox__item {
        width: 69.4vw;
        display: flex;
        justify-content: start;
        flex-direction: row;
    }

    .interested {
        width: 30vw;
        margin-left: 1rem;
    }

    .interested span {
        margin-top: -0.2rem;
    }

    .interested .checkbox {
        margin-left: -14rem;
        margin-top: -1.2rem;
    }

    .contacts {
        height: 9.4vh;
        width: 30vw;
        margin-top: 1em;
    }

    .contact__btn {
        height: 9.4vh;
        width: 13vw;
        background: none;
        font-weight: 700;
        color: #A58EF0;
        border: 2px solid #A58EF0;
        transition: all ease-in .7s;
    }

    .contact__btn:hover {
        background-color: #4722E3;
        color: #000;
        transition: all ease-in-out .7s;
    }
}